[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
replicate = "*"
langchain-core = "*"
langchain-community = "*"
transformers = "*"
rich = "*"
python-dotenv = "*"
snowflake = "*"
streamlit = "*"
langgraph = "*"
snowflake-connector-python = {extras = ["pandas"], version = "*"}
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
